<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<form action="/sessions/logon" method="POST">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

  <div>
    <label for="email">Enter your email:</label>
    <input id="email" name="email" required />
  </div>

  <div>
    <label for="password">Enter your password:</label>
    <input id="password" type="password" name="password" required />
  </div>

  <div>
    <button type="submit">Logon</button>
    <a href="/">Cancel</a>
  </div>
</form>

<%- include("partials/footer.ejs") %>